#env
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local
.npm-cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Icon?
Icon
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
README_files

.env
.vercel
.env*.local

README-oud.md
README-oud.html
README.html
docs/app-screenshot-oud.png
